<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "com.kwetu.princess"
versionCode = "10"
version     = "1.0.0" >

	<name>Princess Affair</name>
	
	<description>Online shopping mall</description>
	
	<author href="https://kwetudesign.co.ke" email="kwetudesign@gmail.com">Antony muthii Assila</author>
	
	<icon src="icon.png" />
	
	<access origin="*" />
	
	
	<gap:splash src="splash.png" />
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	<gap:plugin name="com.plugin.datepicker" source="npm" />
	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" source="npm" />
	<gap:plugin name="de.appplant.cordova.plugin.email-composer" source="npm" />
	<gap:plugin name="org.apache.cordova.geolocation" source="npm" />

</widget>
