<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Contact Details</div>
  </ons-toolbar>
  <div class="app-page">

    <!-- settings with icons -->
    <ons-list-header>Phone No.</ons-list-header>

    <ons-list modifier="list-icons">
      <ons-list-item modifier="tappable">
        <ons-icon icon="fa-comment" size="20px"></ons-icon>
        +256 757 824 993
        
      </ons-list-item>
      
      
      <ons-list modifier="list-icons">
      <ons-list-item modifier="tappable">
        <ons-icon icon="fa-comment" size="20px"></ons-icon>
        +256 771 622 179
        
      </ons-list-item>
      
      <ons-list modifier="list-icons">
      <ons-list-item modifier="tappable">
        <ons-icon icon="fa-comment" size="20px"></ons-icon>
        +256 794 895 535
        
      </ons-list-item>



      

      <ons-list-header>Email</ons-list-header>

      <ons-list-item modifier="list-icons">
        <ons-icon icon="fa-envelope-o" size="20px"></ons-icon>
        admin@streetmoja.com
        
      </ons-list-item>

      <ons-list-item modifier="list-icons">
        <ons-icon icon="fa-envelope-o" size="20px"></ons-icon>
        care@streetmoja.com
      </ons-list-item>

      <ons-list-item modifier="list-icons">
        <ons-icon icon="fa-envelope-o" size="20px"></ons-icon>
        rmventures2014@gmail.com
      </ons-list-item>

      
<div class="app-page" ng-controller="pluginsController">
	<p>
      <ons-button modifier="large" ng-click="getDirectionsGoogle()">Get Map Directions</ons-button>
      </p>
    </ons-list>
 </div>
  </div>
</ons-page>