<ons-page modifier="menu-page">
  <ons-toolbar modifier="transparent"></ons-toolbar>

  <ons-list class="menu-list">
  <div class="app-page" ng-controller="pluginsController">
    <ons-list-item class="menu-item" ng-click="openWebsite()">
      <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
      Home
    </ons-list-item>
    <ons-list-item class="menu-item" ng-click="openSocialSharing()">
      <ons-icon icon="fa-share" fixed-width="true"></ons-icon>
      Share
    </ons-list-item>    
       
    
  </div>   
  </ons-list>

</ons-page>
